<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Weight Converter</title>
</head>
<body>
<h1>Weight Converter</h1>

<form action="/weight" method="post">
  <input type="number" step="any" name="value" required>

  <select name="from">
    <option value="milligram">Milligram</option>
    <option value="gram">Gram</option>
    <option value="kilogram">Kilogram</option>
    <option value="ounce">Ounce</option>
    <option value="pound">Pound</option>
  </select>

  <select name="to">
    <option value="milligram">Milligram</option>
    <option value="gram">Gram</option>
    <option value="kilogram">Kilogram</option>
    <option value="ounce">Ounce</option>
    <option value="pound">Pound</option>
  </select>

  <button type="submit">Convert</button>
</form>

<p th:text="${result}"></p>
<a href="/">Home</a>
</body>
</html>